.banner {
  margin-top: 40px;
}

.banner * {
  color: var(--text-color-1);
}

.banner .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* =================================================== */

.slider {
  width: var(--slider-width);
  height: var(--slider-height);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 600%;
  position: relative;
  transition: all 2s;
}

.slider input[type="radio"] {
  display: none;
}

.slide {
  display: block;
  width: 100%;
  height: var(--slider-height);
  border-radius: 10px;
}

.slide-manual {
  position: absolute;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.manual-btn {
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.7s;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked~.slides {
  left: 0;
}

#radio2:checked~.slides {
  left: -100%;
}

#radio3:checked~.slides {
  left: -200%;
}

#radio4:checked~.slides {
  left: -300%;
}

#radio5:checked~.slides {
  left: -400%;
}

#radio6:checked~.slides {
  left: -500%;
}

#radio1:checked~.slide-manual #label-radio1,
#radio2:checked~.slide-manual #label-radio2,
#radio3:checked~.slide-manual #label-radio3,
#radio4:checked~.slide-manual #label-radio4,
#radio5:checked~.slide-manual #label-radio5,
#radio6:checked~.slide-manual #label-radio6 {
  background-color: white;
}

/* ==================================================== */

.slide-desc {
  width: var(--slide-aside-width);
  height: var(--slider-height);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  border: 1px solid #04b0f9;
}


#slide-desc1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;


  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 1px;

  position: relative;
}

#slide-desc1 span {
  position: relative;
  left: -100px;
  top: -20px;
  opacity: 0;
  filter: blur(7px);
}

@keyframes show-item {
  100% {
    opacity: 1;
    left: 0;
    top: 0;
    filter: blur(0);
  }
}