
.slider {
  width: var(--img-slide-width);
  height: var(--img-slide-height);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: calc(var(--img-slide-width) * 6);
}

.slide {
  width: var(--img-slide-width);
  transition: all 2s;
}

.slides input {
  display: none;
}

.slide-manual {
  position: absolute;
  width: var(--img-slide-width);
  bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.manual-btn {
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.7s;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked~#slide-1 {
  margin-left: 0;
}

#radio2:checked~#slide-1 {
  margin-left: calc(var(--img-slide-width) * -1);
}

#radio3:checked~#slide-1 {
  margin-left: calc(var(--img-slide-width) * -2);
}

#radio4:checked~#slide-1 {
  margin-left: calc(var(--img-slide-width) * -3);
}

#radio5:checked~#slide-1 {
  margin-left: calc(var(--img-slide-width) * -4);
}

#radio6:checked~#slide-1 {
  margin-left: calc(var(--img-slide-width) * -5);
}

#radio1:checked~.slide-manual #label-radio1,
#radio2:checked~.slide-manual #label-radio2,
#radio3:checked~.slide-manual #label-radio3,
#radio4:checked~.slide-manual #label-radio4,
#radio5:checked~.slide-manual #label-radio5,
#radio6:checked~.slide-manual #label-radio6 {
  background-color: white;
}
